@keyframes right-clipping {
    0% {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);}
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}
.clipper {animation: right-clipping .7s ease-in-out both;}
.clipper:nth-last-child(1) {animation-delay: .15s;}
.clipper:nth-last-child(2) {animation-delay: .20s;}
.clipper:nth-last-child(3) {animation-delay: .25s;}
.clipper:nth-last-child(4) {animation-delay: .30s;}

.burger-line {
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: white;
    transform-origin: center;
    transition: all ease .4s;
}
.burger-line + .burger-line {margin-top: 6px;}
@media screen and (max-width: 899.99px){
    nav.side-nav {
        --radius: 1.8rem;
        position: fixed;
        bottom: .3rem;
        right: .3rem;
        z-index: 5;
        border-radius: var(--radius);
        padding: .3rem;
        display: grid;
        row-gap: .7rem;

        background-color: transparent;
        backdrop-filter: unset;
        box-shadow: none;
        clip-path: circle(calc(var(--radius) + 15px) at calc(100% - var(--radius) - .7rem) calc(100% - var(--radius) - .7rem));
        transition: clip-path ease-out .5s, backdrop-filter ease-out .5s, background-color ease-out .5s, box-shadow ease-out .5s;
    }
    nav.side-nav::before {
        content: '\00BB  MENU \00AB';
        font-weight: 600;
        font-size: 1.1rem;
        color: #555;
        text-align: center;
        padding-top: .5rem;
        grid-row: 1/2;
        grid-column: 1/3;
    }
    nav.side-nav.show {
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        background-color: rgba(255,255,255,.7);
        backdrop-filter: blur(5px);
        clip-path: circle(120% at calc(100% - var(--radius) - .7rem) calc(100% - var(--radius) - .7rem));
    }
    nav.side-nav.show .burger-line:nth-child(1) {transform: translateY(9px) rotate(45deg);}
    nav.side-nav.show .burger-line:nth-child(2) {opacity: 0;}
    nav.side-nav.show .burger-line:nth-child(3) {transform: translateY(-9px) rotate(-45deg);}
    nav.side-nav svg {display: none;}
    nav.side-nav button {
        width: calc(2 * var(--radius));
        height: calc(2 * var(--radius));
        padding: .9rem;        
        border: 0;
        border-radius: var(--radius);
        background-color: var(--yellow);
        box-shadow: 0 0 15px rgba(0,0,0,.25);
        grid-row: 3/4;
        grid-column: 2/3;

    }
    nav.side-nav button:focus {outline: none;}
    nav.side-nav ul {
        list-style: none;
        text-align: right;
        margin-bottom: .6rem;
        padding: 0 .8rem;
        grid-row: 2/3;
        grid-column: 1/3;
    }
    nav.side-nav li + li {margin-top: .4rem;}
    nav.side-nav a {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--blue);
        text-decoration: none;
    }
}
@media screen and (min-width: 900px) {
    nav.side-nav {
        position: fixed;
        top: 14rem;
        left: 1.5rem;
        color: var(--blue);
        z-index: 0;
        transform: translateX(-200%);
        transition: transform ease .35s;
    }
    nav.side-nav.show {transform: translateX(0);}
    nav.side-nav ul {list-style: none;}
    nav.side-nav li {
        opacity: .3;
        transition: opacity ease-out .3s, padding ease-out .3s;
    }
    nav.side-nav li:hover {
        opacity: 1;
        padding-left: .8rem;
    }
    nav.side-nav li+li {margin-top: .3rem;}
    nav.side-nav a {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.05rem;
        color: currentColor;
        text-decoration: none;
    }
    nav.side-nav a:focus {outline: none;}
    nav.side-nav svg {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translate(-50%, -50%) rotate(20deg);
        transition: transform ease-in-out .4s, opacity ease-in-out .4s;

        opacity: .3;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    }
    nav.side-nav:hover svg {
        transform: translate(-50%, -50%) rotate(-40deg);
        opacity: .4;
    }
    nav.side-nav button {display: none;}
}

header {
    position: relative;
    z-index: 2;
    width: 100%;
    height: clamp(65vh, 90vw, 100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(32,32,32,.65), rgba(32,32,32,.65)), url('../img/Library.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
header p {
    max-width: calc(100vw - 3rem);
    width: 40%;
    min-width: 350px;
    color: white;
    margin-top: min(10vw, 5rem);
    border-radius: 10px;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    text-align: center;
    animation: top-unfading .7s .1s ease-out both;
}
header > a {
    position: absolute;
    bottom: clamp(.5rem, 2vw, 1.5rem);
    align-self: center;
}
header svg {
    width: clamp(1.7rem, 3vw, 3rem);
    color: #bbb;
}
header svg > path {
    animation-name: down-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
header svg > path:nth-child(2) {animation-delay: .1s;}
header svg > path:nth-child(3) {animation-delay: .2s;}

@keyframes down-animation {
    0% {transform: scale(1);}
    50% {transform: scale(.9);}
    100% {transform: scale(1);}
}
@keyframes stripe-clipping {
    0% {clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);}
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}
@keyframes top-unfading {
    0% {opacity: 0; transform: translateY(80%);}
    100% {opacity: 1; transform: translateY(0);}
}

header nav {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    max-width: 60%;
    width: 50ch;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
header nav li {
    padding: .3rem .7rem;
}
header nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: color .2s ease-in;
}
header nav a:hover {color: var(--yellow); filter: brightness(110%);}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 700;
    padding: 0 1rem .4rem 1rem;
    position: relative;
    width: fit-content;
    z-index: 2;
    /* mix-blend-mode: screen; */
}
h1::before {
    content: '';
    position: absolute;
    top: -.2rem;
    bottom: -.3rem;
    left: -2.5rem;
    right: 0;
    transform: skewY(2deg);
    background-color: rgba(var(--yellow-rgb), .7);
    z-index: -1;
    animation: stripe-clipping .6s ease-out both;
}
h1::after {
    content: '';
    position: absolute;
    top: .1rem;
    bottom: -.3rem;
    left: 0;
    right: -2.5rem;
    transform: skewY(-5deg);
    background-color: rgba(0,0,0, .7);
    z-index: -2;
    animation: stripe-clipping .6s .1s ease-out both;
}
@media screen and (max-width: 530px) {
    header nav {
        top: 1rem;
        right: .6rem;
    }
    h1::before {
        left: 1rem;
        right: 2.5rem;
        top: -.6rem;
        bottom: 0;
        transform: skewY(4deg);
    }
    h1::after {
        left: 2.5rem;
        right: 1rem;
        bottom: 0;
        top: -.6rem;
        transform: skewY(-8deg);
    }
}

section {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.w-1 {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 3rem);
    width: clamp(40rem, 75vw, 67rem);
}
.w-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 3rem);
    width: clamp(30rem, 65vw, 45rem);
}

h2 {
    text-align: center;
    color: black;
    font-size: 2rem;
    position: relative;
    padding: 1.5rem 0;
    width: fit-content;
    margin: 0 auto;
}
h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: 3px;
    border-radius: 10px;
    background-color: var(--yellow);
}
h3 {
    text-align: center;
    font-size: 1.4rem;
    width: fit-content;
    margin: 0 auto;
}

section > p {
    margin-top: 2.5rem;
    text-align: justify;
}

ul.dark-paper {
    position: relative;
    margin: 3rem 0;
    color: white;
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}
ul.dark-paper::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
    width: 100%;
    transform: translateX(-50%) skewY(-2deg);
    background-color: var(--blue);
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}
ul.dark-paper > li {
    flex: 0 .7 280px;
    padding: 1.5rem;
    margin: 1rem 1.2rem;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-radius: 20px;
    text-align: center;
    transition: box-shadow .5s ease-in-out;
}
ul.dark-paper > li:hover {
    box-shadow: 0 0 45px rgba(0,0,0,.3);
}
ul.dark-paper > li > svg {
    height: 4rem;
    margin-bottom: 1rem;
    display: inline-block;
}
ul.dark-paper > li > p {
    margin-top: 1rem;
    filter: brightness(85%);
    text-align: center;
}

ul.portfolio {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul.portfolio h3[data-location]::after {
    content: ' ' attr(data-location);
    color: #aaa;
    font-weight: 600;
}
ul.portfolio > li {
    flex-basis: calc(33.33% - 2rem);
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1.3rem;
    margin: 1rem;
    min-width: 280px;
    max-width: 330px;
    box-shadow: 0 0 15px rgba(0,0,0, .06);
    transition: box-shadow .3s ease-out;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
}
ul.portfolio li:hover {box-shadow: 0 0 30px rgba(0,0,0,.1);}
ul.portfolio > li > h3 {
    margin: 1rem auto;
    color: var(--dark-yellow);
}
ul.portfolio > li > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
ul.portfolio > li > p {text-align: justify;}

.btn {
    margin: 2rem auto;
    width: fit-content;
    display: block;

    z-index: 1;
    position: relative;
    text-decoration: none;
    color: var(--blue);
    font-weight: 500;
    padding: .7rem 1.2rem;
    background-color: rgba(255, 255, 255, .4);
    /* border: 2px solid var(--blue); */
    box-shadow: inset 0 0 0 1.5px var(--blue), 0 0 15px rgba(0,0,0,.12);
    overflow-y: hidden;
    transition: background-color ease-out .2s, color ease-in-out .2s;
}
.btn:hover {
    color: white;
    background-color: var(--blue);
}
.btn::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: var(--yellow);
    transition: transform ease-out .3s;
    transform-origin: right;
    border-top: 7px solid var(--dark-yellow);
}
.btn:hover::before {
    transform: skewY(11deg);
}